# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/node_modules/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/css

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.DS_Store
.vscode/
.idea/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Terraform saved plans
*.tfplan
**/tfplan
